@import "tailwindcss";

*{
  /* margin:0;
  padding:0; */
  /* background-color: #18171a; */
}

/* globals.css */
:root {
  --background: 0 0% 98%;
  --background-muted: 240 5% 96%;
  --foreground: 222 47% 11%;
  --border: 220 13% 91%;
  --border-muted: 220 13% 95%;
  --accent: 243 75% 59%;        /* indigo-600 */
  --accent-foreground: 0 0% 100%;
}
[data-theme="dark"] {
  --background: 222 47% 5%;
  --background-muted: 222 30% 9%;
  --foreground: 210 20% 96%;
  --border: 217 19% 20%;
  --border-muted: 217 19% 16%;
}

@theme {
      

  --color-background: hsl(var(--background));
  --color-background-muted: hsl(var(--background-muted));
  --color-foreground: hsl(var(--foreground));
  --color-border: hsl(var(--border));
  --color-border-muted: hsl(var(--border-muted));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
}